:root {
    --primario: #FFC44E;
    --secundario: #134256;
    --terciario: #EC701E;
    --unnamed-color-ffffff: #FFFFFF;
}

* {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

/* BODY */

body {
    font-family: 'Poppins', sans-serif!important;
}

/* NAV */

header {
    position: sticky;
    top: 0;
    z-index: 9999;

    .navbar {
        background: var(--secundario);
        padding: 20px 60px;
        opacity: .95;

        ul li a {
            font-size: 16px;
            font-family: 'Raleway', sans-serif;
            color: #FFF;

            &.active {
                color: var(--primario)!important;
            }

            &:hover {
                color: var(--primario);
            }
        }
    }
}

@media (max-width: 992px) {
    header .navbar {
        padding: 20px 0;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    header .navbar ul li a {
        font-size: 12px;
    }
}

/* FINAL DO NAV */



// Cookies
.cookies-container {
    color: #222;    
    position: fixed;
    width: 100%;
    left: 2rem;
    bottom: 2rem;
    z-index: 3;

    .cookies-content {
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
        background-color: #FFF;
        max-width: 25%;
        min-width: 250px;
        border-radius: 5px;
        padding: 1rem;       
        opacity: 0;
        transform: translateY(5rem);
        animation: slideUp 1s forwards;   
        // display: grid;
        // grid-template-columns: 1fr auto;
        // gap: 0.5rem;

        .btn {
            // background-color: var(--laranja_secao1);
            // border-color: var(--laranja_secao1);
            font-size: 12px;
            // grid-column: 2;
            // grid-row: 1/3;
        }

        p {
            padding: 0;
            margin: 0;
            font-size: 12px;
        }       
        
        a {
            color: #0d6efd;
        }
    }        
}

@keyframes slideUp {
    to {
        transform: initial;
        opacity: initial;
    }
}

#modalCookies {
    margin-top: 150px;

    .modal-body {
        padding: 0;

        ul {
            padding: 0;
            margin: 0;

            .active {
                border-left: 10px solid #198754;
                background-color: #FFF;
            }

            li {
                list-style: none;
                background-color: #F4F4F4;
                padding: 20px;
                cursor: pointer;
                display: flex;
                justify-content: center;
                border-bottom: 1px solid #d7d7d7;      

                a {                    
                    font-size: 14px;
                    font-weight: 700;
                    text-decoration: none;
                    color: #000;                    
                }
            }
        }

        .content {
            label {
                font-size: 16px;
                font-weight: 700;
            }

            p {
                font-size: 14px;
                margin-top: 10px;
            }
        }
    }
    
}

@media (min-width: 768px) {
    #modalCookies {
        .modal-dialog {
            max-width: 75%;
        }
    }
}



/* CAROUSEL */
.bloco-carousel {
    position: relative;

    .degrade {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: transparent linear-gradient(90deg, #213A6E 0%, #213A6E00 100%) 0% 0% no-repeat padding-box;
    }

    .txt {
        max-width: 60%;
        text-align: center;
        color: #FFF;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        margin: auto;

        h3 {
            font-size: 42px;
            font-weight: 300;
        }

        h1 {
            font-size: 55px;
            font-weight: 600;
        }
    }
}

@media (max-width: 768px) {
    .bloco-carousel .txt {
        h3 {
            font-size: 12px;
        }

        h1 {
            font-size: 25px;
        }
    }
}

/* FINAL DO CAROUSEL*/







/* INÍCIO SECTION AUTOR */

/* SECTION AUTOR */
#autor {
    padding: 60px 0 60px 0;
    background: var(--primario);
    color: #FFF;    
}

/* LINHA LATERAL */
.linha-autor {
    background-image: url("../img/fundo-etnico-linha.png");
    width: 17px;
    height: 100%;
}

/* TEXTO DO MÁRIO */
.txt-Mário {
    line-height: 1.5;
    color: var(--secundario);

    h3 {
        font-size: 22px;
        font-weight: 600;
    }

    h4 {
        font-size: 20px;
        font-weight: 400;
    }
}

/* PARA O SCRIPT DA FUNÇÃO DO BOTÃO */
#mais {
    display: none;
}

/* BOTÃO */
#btnLerMais {
    margin: 25px 0 0;
    color: var(--secundario);
    border-color: var(--secundario);
}

/* DIV PARA CENTRALIZAR O BOTÃO */
.btn-autor {
    text-align: center;
}

/* IMAGEM E NOME DO MÁRIO */
.img-nomeMario {
    text-align: center;
    float: right;
    margin-left: 30px;
    margin-bottom: 30px;

    h5 {
        font-size: 18px;
        font-weight: 700;
        text-shadow: 0px 3px 6px #00000080;

        p {
            font-weight: 300;
        }
    }
}

@media (max-width: 768px) {
    #autor .img-nomeMario {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 992px) {     
    
    /* ROW QUE ENVOLVE O TEXTO E IMAGEM COM NOME DO AUTOR */
    .media-autor {
        display: flex;
        flex-direction: column-reverse;
    }    

    /* PADDING QUANDO RESPONSIVO */
    #autor {
        padding: 60px 0 60px 0;
    }  
}

/* FIM DA SECTION AUTOR */





/* INÍCIO SECTION RACISMO */

/* SECTION RACISMO */
#racismo {
    padding: 90px 0 90px 0;
    position: relative;

    .txt-lateral {
        p {
            font-size: 42px;
            font-weight: 600;
            color: #EC701EA5;

            span {
                font-weight: 300;
                color: var(--secundario);
            }
        }
    }
}

/* COLUNA COM LINHA E TXT LATERAL */
#col-linhatxt {
    position: relative;

    .linha-racismo { 
        background-image: url("../img/fundo-etnico-linha.png");
        width: 17px;
        height: 100%;    
    }    
}

.img-descrição01-centralizar {
    float: left;
    margin-right: 30px;
}

/* TEXTO PRIMEIRA DESCRIÇÃO */
.txt-descrição1 h4 {
    line-height: 1.5;
    color: var(--secundario);
    font-size: 20px;
    font-weight: 400;
}

/* CAIXA PONTILHADA */
.caixa-pontilhada1 {
    line-height: 2; 
    padding: 30px;
    margin: 50px 0;
    position: relative;    
    border: 5px dashed #B9B9B9;
    border-radius: 58px 0px;
    color: var(--terciario);

    #aspas-iníciotxt1 {
        top: -50px;
        left: 20px;
        position: absolute;
        font-size: 129px;
        font-weight: 700;
    }

    #aspas-finaltxt1 {
        bottom: -140px;
        right: 20px;
        position: absolute;
        font-size: 129px;
        font-weight: 700;
    }

    p {
        padding: 0 50px;
        text-align: center;
        font-size: 20px;
        font-weight: 500;        
        margin-bottom: 0;        
    }
}



/* texto segunda descrição */
.txt-descrição2 h4 {
    line-height: 1.5;
    font-weight: 400;
    font-size: 20px;
    color: var(--secundario);
}

.img-descrição02-centralizar {
    float: right;
    margin-left: 30px;

    img {
        max-width: 90%;
    }
}

/* CAIXA PONTILHADA DO SEGUNDO COMENTÁRIO */
.caixa-pontilhada2 {
    line-height: 2; 
    padding: 30px;
    margin: 50px 0;
    position: relative;    
    border: 5px dashed #B9B9B9;
    border-radius: 58px 0px;
    color: var(--terciario);

    #aspas-iníciotxt2 {
        top: -50px;
        left: 20px;
        position: absolute;
        font-size: 129px;
        font-weight: 700;
    }

    #aspas-finaltxt2 {
        bottom: -140px;
        right: 20px;
        position: absolute;
        font-size: 129px;
        font-weight: 700;
    }

    p {
        padding: 0 50px;
        text-align: center;
        font-size: 20px;
        font-weight: 500;        
        margin-bottom: 0;        
    }
}

/* TEXTO FINAL DA SECTION RACISMO */
.txt-final h4 {
    line-height: 1.5;
    margin-bottom: 50px;
    color: var(--secundario);
    font-size: 20px;
    font-weight: 400;
}

/* PARA O SCRIPT DA FUNÇÃO DO BOTÃO */
#more {
    display: none;
}

/* BOTÃO DO TEXTO FINAL */
#btnContinuação {
    color: var(--terciario);
    border-color: var(--terciario) ;
}

/* DIV PARA ALINHAR O BOTÃO */
.btn-racismo {
    text-align: center;
}

@media (max-width: 992px) {
    /* OCULTAR TERCEIRA COLUNA VAGA */
    #coluna03-racismo {
        display: none;
    }    
}

/* RESPONSIVIDADE TEXTO LATERAL ATÉ 768PX */
@media (max-width: 768px) {
    .img-descrição01-centralizar {
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;

        img {
            display: block;
            margin: 0 auto;
        }
    }
    
    /* TEXTO SÓ COM A PALAVRA RACISMO */
    #txt-racismolateral {
        font-size: 2rem;
    }

    /* OCULTAR TERCEIRA COLUNA VAGA */
    #coluna03-racismo {
        display: none;
    }

}

/* RESPONSIVIDADE TEXTO LATERAL DE 768PX ATÉ 992PX */
@media (max-width: 992px) {    
    /* TEXTO SÓ COM A PALAVRA RACISMO */
    #txt-racismolateral {
        font-size: 2.5rem;
    }
}

/* RESPONSIVIDADE TEXTO LATERAL DE 992PX ATÉ 1200PX */
@media (max-width: 1200px) {    
    /* TEXTO SÓ COM A PALAVRA RACISMO */
    #txt-racismolateral {
        font-size: 3rem;
    }
}

/* FIM DA SECTION RACISMO */





/* INÍCIO DA SECTION COR */

#cor {
    position: relative;
    padding: 50px 0;
}

/* IMAGEM DE FUNDO */
.img-fundo {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -2;
    background-image: url('/img/fundo-etnico.png');
    background-size: cover;
    background-position: center;
    opacity: 1;
}

/* CAMADA DE COR SOBRE IMAGEM */
.bloco-fundo {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    background-color: var(--secundario);
    opacity: .8;
}

/* TÍTULO */
#título {
    font-size: 42px;
    font-weight: 600;
    color: var(--primario);
}

/* TEXTO PRIMEIRA, SEGUNDA E COLUNA FINAL */
#txt-col1, #txt-col2, #txt-finalcor {
    line-height: 1.5;
    font-size: 20px;
    font-weight: 400;
    color: var(--unnamed-color-ffffff);
}

/* FOTO SECTION  */
#foto-descrição3 {
    padding: 30px 0 0 0;
    float: right;
}

.img-descrição03-centralizar {
    float: right;
    margin-left: 30px;
}

/* CAIXA PONTILHADA */
.caixa-pontilhada3 {
    line-height: 2; 
    padding: 30px;
    margin: 50px 0;
    position: relative;    
    border: 5px dashed var(--primario);
    border-radius: 58px 0px;    
    background-color: #FFF;

    #aspas-iníciotxt3 {
        top: -50px;
        left: 20px;
        position: absolute;
        font-size: 129px;
        font-weight: 700;
        color: var(--primario);
    }

    #aspas-finaltxt3 {
        bottom: -140px;
        right: 20px;
        position: absolute;
        font-size: 129px;
        font-weight: 700;
        color: var(--primario);
    }

    p {
        padding: 0 50px;
        text-align: center;
        font-size: 20px;
        font-weight: 500;        
        margin-bottom: 0;  
        color: #213A6E;
    }
}

/* ATRIBUTOS DO TEXTO FINAL ESTÁ EM CIMA, JUNTO COM  OS OUTROS DOIS TEXTOS */

/* PARA O SCRIPT DA FUNÇÃO DO BOTÃO */
#maistxt {
    display: none;
}

/* DIV PARA CENTRALIZAR O BOTÃO */
.btn-final {
    text-align: center;
}

/* BOTÃO SECTION RACISMO */
#btnMaistxtfinal {
    margin: 25px 0 75px 0;
    color: var(--unnamed-color-ffffff);
    border-color: var(--unnamed-color-ffffff);
}

@media screen and (max-width: 992px){ 
    /* TIRAR O FLOAT DA IMAGEM PARA PODER CENTRALIZAR */
    #foto-descrição3 {
        float: none;
    }
}

@media (max-width: 768px) {
    .img-descrição02-centralizar {
        width: 100%;
        margin-left: 0;
        margin-bottom: 30px;

        img {
            display: block;
            margin: 0 auto;
        }
    }

    .img-descrição03-centralizar {
        width: 100%;
        margin-left: 0;
        margin-bottom: 30px;

        img {
            display: block;
            margin: 0 auto;
        }
    }
}

/* FIM DA SECTION COR */





/* INÍCIO SECTION BAHIA */

/* SECTION BAHIA */
#bahia {
    
}

#content-bahia {
    padding-top: 60px;
    padding-bottom: 60px;
}

#linha-txtbahia {
    position: relative;

    .linha-bahia {
        background-image: url("/img/fundo-etnico-linha.png");
        width: 17px;
        height: 100%; 
    }  
    
    .txt-lateralbahia { 
        width: max-content;
        margin-bottom: 0;
    }
}

/* TEXTO SÓ COM A PALAVRA BAHIA */
.txt-lateralbahia {
    p {
        font-size: 42px;
        font-weight: 600;
        color: #EC701EA5;

        span {
            font-weight: 300;
            color: var(--secundario);
        }
    }
}

/* TEXTO PRIMEIRA COLUNA */
.txt-bahia h4 {
    line-height: 1.5;
    color: var(--secundario);
    font-size: 20px;
    font-weight: 400;
}

/* GRÁFICO SINE BAHIA */
.gráfico-bahia {
    margin: 75px 0;
    text-align: center;
}

/* DIV PARA CENTRALIZAR O BOTÃO */
.btn-sinelermais {
    text-align: center;
}

/* BOTÃO */
#btnsineLermais {
    color: var(--secundario);
    border-color: var(--secundario);

}

/* DIV PARA ALINHAR IMAGEM E TEXTO */
.imgtxt {
    text-align: center;
}

/* LEGENDAS DAS FOTOS */
#legendas {
    margin: 15px 0 0;
    color: #213A6E;
    font-size: 20px;
    font-weight: 700;
}

/* TIRAR O SUBLINHADO DO LINK */
a:link {
    text-decoration: none;
}
 
/* FIM SECTION BAHIA */





/* INÍCIO SECTION VER MAIS */

#ver-mais {
    margin: 0 0 60px 0;
}

/* FIM SECTION VER MAIS */





/* INÍCIO SECTION CONTATO */
#contato {
    background-color: var(--primario);
}

/* TÍTULO E OPÇÕES*/
.redes {
    padding: 35px 0 0;

    #redes-sociais {
        font-size: 22px;
        font-weight: 600;
        color: var(--secundario);
    }

    li {
        list-style: none;

        a {
            color: var(--secundario);
            font-size: 16px;
            font-weight: 300;
            display: inline;
        }
    }
    
}

/* CAMPO GERAL DO FORMULÁRIO */
.forms {
    background-color: var(--secundario);
    padding: 50px;
}

/* TEXTO ANTES DO CAMPO FORMS */
#txt-forms {
    padding: 0 0 35px 0;
    color: var(--unnamed-color-ffffff);
    font-size: 18px;
    font-weight: 300;
}

/* CAMPO DE PREENCHIMENTO */
.form-group input {
    height: 50px;
}

/* PLACEHOLDER  */
.form-group ::placeholder {
    font-size: 18px;
    font-weight: 300;
    color: #000000;
    opacity: 0.5;
}

/* BOTÃO FORMS */
#btn-forms {
    font-size: 14px;
    font-weight: 600;
    height: 50px;
    width: 100%;
    color: var(--unnamed-color-ffffff);
    background-color: #0a1429;
}

@media (max-width: 768px) {
    .redes {
        text-align: center;
        margin-bottom: 30px;
    }
}

/* FIM SECTION CONTATO */






/* FOOTER */

/* FUNDO FOOTER */
footer {
    background-color: var(--primario);
    border-top: 1px solid rgba(0, 0, 0, 0.24);
    padding: 35px 0;
}

/* TEXTO FOOTER */
footer p {
    text-align: center;;
    font-size: 16px;
    font-weight: 300;
    color: var(--secundario);
    margin-bottom: 0;
}

#btnLerMais.efeito {
    color: red;
    font-size: 12em;
    transition: 1s;
}